{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "tests/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ]
}